idna<2.10
requests<2.24.0
numpy
pymongo
datadog
pytz
tzlocal
grpcio
grpcio-tools
cassandra-driver
kubernetes
pyyaml
stringcase
packaging
gitpython
flask
uwsgi
tqdm
pathos
aiohttp
httpx
httpx[http2]
psycopg2
prometheus-client
prometheus-api-client
redis
kafka-python<1.5,>=1.4.6
faust
faust[fast]
boto3===1.4.4
google-cloud-storage
snowflake-connector-python
asyncio-pool
selenium<4.0
pycli-tools
easy-logger
py3-async-tools
statstream